<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>+Cotas - PetShop Sustentable</title>

<!-- Fuente -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">


<!--              Pagina de iconos                   -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />


<!--       Hoja de estilos propias             -->
<meta name="theme-color" content="#fafafa">
<link rel="stylesheet" href="/css/register-styles.css">
<link rel="stylesheet" href="/css/variables.css">
<link rel="stylesheet" href="css/cart.css">
<link rel="stylesheet" href="/css/register-styles.css">
<link rel="stylesheet" href="/css/home-styles.css">

</head>

<body>

<header>
    <section class="navigation">
        <div class="navigation-search">
            <div class="logo">
                <img src="./images/Logo +cotas.png" alt="logo" width="120">
            </div>
            <div class="search">
                <div class="search-control">
                    <img src="./images/search.svg" alt="search icon" width="30">
                    <input
                            id="txtSearch"
                            name="txtSearch"
                            placeholder="Buscar..."
                            type="text"
                    />
                </div>
            </div>
            <div class="navigation-icons">
                <div class="shopping-cart">
                    <img src="./images/shopping_cart.svg" alt="cart" width="40">
                </div>
                <div>
                    <img src="./images/favorite.svg" alt="cart" width="40">
                </div>
                <div>
                    <img src="./images/person.svg" alt="cart" width="40">
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-list-item">INICIO</li>
                <li class="navbar-list-item">PRODUCTOS</li>
                <li class="navbar-list-item">NOSOTROS</li>
                <li class="navbar-list-item">PROMOS</li>
                <li class="navbar-list-item">CONTACTO</li>
            </ul>
        </nav>
    </section>
</header>
<main>
    <div class="green-container">
        <h2 class="titulo">Carrito de compras</h2>
        <div class="white-container">
            <div class="products">
                <div class="detail">
                    <img src="./images/collar.jpg" alt="collar" class="collar">
                    <p class="description">Collar para perro vegano</p>
                    <p class="price">$3000</p>
                </div>
            </div>
            <div class="total-container">
                <div class="bill">
                    <p class="subtotal">Subtotal:</p>
                    <p class="envio">Envio:</p>
                    <input type="text" placeholder="Ingrese codigo promocional...">
                </div>
                <div class="bill-bottom"></div>
                    <p class="total">Total:</p>
                    <p class="total-price">$3000</p>
                    
                </div>
                <button type="submit" class="buttonpay"> Continuar Compra</button>
            </div>
        </div>
    </div>
    
</main>
<footer>
    <div class="footer-container">
        <div class="images-container">
        <img src="imagen1" alt="Imagen 1">
        <img src="imagen2" alt="Imagen 2">
        <img src="imagen3" alt="Imagen 3">
        <img src="imagen4" alt="Imagen 4">
        <img src="imagen5" alt="Imagen 5">
        </div>
    </div>
    </footer>
</body>

</html>