<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="stylesheet" href="/css/home-styles.css">
</head>
<header>
    <section class="navigation">
        <div class="navigation-search">
            <div class="logo">
                <img src="./images/Logo +cotas.png" alt="logo" width="120">
            </div>
            <div class="search">
                <div class="search-control">
                    <img src="./images/search.svg" alt="search icon" width="30">
                    <input id="txtSearch" name="txtSearch" placeholder="Buscar producto..." type="text" />
                </div>
            </div>
            <div class="navigation-icons">
                <div class="shopping-cart">
                    <img src="./images/shopping_cart.svg" alt="cart" width="40">
                </div>
                <div>
                    <img src="./images/favorite.svg" alt="cart" width="40">
                </div>
                <div>
                    <img src="./images/person.svg" alt="cart" width="40">
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-list-item">INICIO</li>
                <li class="navbar-list-item">PRODUCTOS</li>
                <li class="navbar-list-item">NOSOTROS</li>
                <li class="navbar-list-item">PROMOS</li>
                <li class="navbar-list-item">CONTACTO</li>
            </ul>
        </nav>
    </section>
</header>

<body>
    <div class="secciones">
        <div class="section-selector">
            <img src="./images/perros.png" alt="perros" width="300">
            <a href="" class="link">PERROS</a>
        </div>
        <div class="section-selector">
            <img src="./images/gatos.png" alt="gatos" width="300" class="">
            <a href="" class="link">GATOS</a>
        </div>
    </div>
<div class="line"></div>

<div id="myCarousel">
    <div class="slides-container">
      <div class="slide">
        <img src="./images/collar.png" alt="item 1">
        <p class="description">Description 1</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/bandana.png" alt="item 2">
        <p class="description">Description 2</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/collar2.png" alt="item 3">
        <p class="description">Description 3</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/capa.png" alt="item 4">
        <p class="description">Description 4</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/collar3.png" alt="item 5">
        <p class="description">Description 5</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
    </div>
    <button class="ant-btn">Anterior</button>
    <button class="sig-btn">Siguiente</button>
  </div>
  <script>
   
  </script>
</body>
<footer>
    <div class="footer-container">
      <div class="images-container">
        <img src="imagen1" alt="Imagen 1">
        <img src="imagen2" alt="Imagen 2">
        <img src="imagen3" alt="Imagen 3">
        <img src="imagen4" alt="Imagen 4">
        <img src="imagen5" alt="Imagen 5">
      </div>
    </div>
  </footer>

</html>