<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>+Cotas Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\css\login-styles.css">
    <meta name="theme-color" content="#fafafa">

<!-- tipografia -->
<link rel= "stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css" family=Rubik>




</head>
<body>
<header>
    <section class="navigation">
        <div class="navigation-search">
            <div class="logo">
                <img src="./images/Logo +cotas.png" alt="logo" width="120">
            </div>
            <div class="search">
                <div class="search-control">
                    <img src="./images/search.svg" alt="search icon" width="30">
                    <input
                            id="txtSearch"
                            name="txtSearch"
                            placeholder="Buscar producto..."
                            type="text"
                    />
                </div>
            </div>
            <div class="navigation-icons">
                <div class="shopping-cart">
                    <img src="./images/shopping_cart.svg" alt="cart" width="40">
                </div>
                <div>
                    <img src="./images/favorite.svg" alt="cart" width="40">
                </div>
                <div>
                    <img src="./images/person.svg" alt="cart" width="40">
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-list-item">INICIO</li>
                <li class="navbar-list-item">PRODUCTOS</li>
                <li class="navbar-list-item">NOSOTROS</li>
                <li class="navbar-list-item">PROMOS</li>
                <li class="navbar-list-item">CONTACTO</li>
            </ul>
        </nav>
    </section>
</header>


<main>

    <main class="container">
        <section class="container-form">
            <div class="form-card">
                <h2 class="form-card-title">Mi Cuenta</h2>
                
                <div class="form-card-container">
                <form class="inicio-secion-form">
                        <div class="form-control">

                            <h4 for= "titulo-mail">Dirección de correo electronico</h4>
                            <input type="mail" name="va-mail" id="mail" required>
                        </div>
                       <br>
                        <div class="form-control">
                            <h4 for="titulo-contraseña">Contraseña</h4>
                            <input type="contraseña" name="contraseña" id="contraseña" required>
                        </div>
                        <br>
                    <div>
                       <h5 class="contraseña"><a href="olvidaste-contraseña"> ¿Olvidaste tu contraseña? </a></h5>
                    </div>
                    <br>

                    <div class="ingresar">
                        <button class="ingresar">
                            Acceder
                        </button>
                    </div>
                    
                    <br>
                    <hr> 
                    <br>


               <div class="logos-juntos">
                    <div class="logo">
                            <a href="logo-gmail"><img src="\images\icons8-gmail-48 (1).png" alt="logo-gmail"></a> 
                            <label class="ingreso-mail" for="ingreso-gmail">  Continuar con Gmail</label>
                                </div>

                    <div class="logo">
                            <a href="logo-face"><img src="\images\icons8-facebook-48.png" alt="logo-face"></a> 
                            <label class="ingreso-face" for="ingreso-face">  Continuar con Facebook</label>
                                </div>
                            </div>

                                <br>

             <div>
            <h5><a href="olvidaste-contraseña"> ¿No tenes cuenta? Registrate aquí! </a></h5>
             </div>
                              <br>      
</main>
<br>
<br>


<footer>

</footer>


</body>
</html>
