<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetalleProducto</title>



    <!--              Pagina de iconos                   -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />


    <!--       Hoja de estilos propias             -->
    <meta name="theme-color" content="#fafafa">
    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/productDetail-styles.css">
    <link rel="stylesheet" href="css/productCart-styles.css">

</head>

<body>
    
    <header>
        <section class="navigation">
            <div class="navigation-search">
                <div class="logo">
                    <img src="./images/Logo +cotas.png" alt="logo" width="120">
                </div>
                <div class="search">
                    <div class="search-control">
                        <img src="./images/search.svg" alt="search icon" width="30">
                        <input
                                id="txtSearch"
                                name="txtSearch"
                                placeholder="Buscar..."
                                type="text"
                        />
                    </div>
                </div>
                <div class="navigation-icons">
                    <div class="shopping-cart">
                        <img src="./images/shopping_cart.svg" alt="cart" width="40">
                    </div>
                    <div>
                        <img src="./images/favorite.svg" alt="cart" width="40">
                    </div>
                    <div>
                        <img src="./images/person.svg" alt="cart" width="40">
                    </div>
                </div>
            </div>
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-list-item">INICIO</li>
                    <li class="navbar-list-item">PRODUCTOS</li>
                    <li class="navbar-list-item">NOSOTROS</li>
                    <li class="navbar-list-item">PROMOS</li>
                    <li class="navbar-list-item">CONTACTO</li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <div class="green-container">
            <div class="white-container">
                <div class="products">
                    <div class="detail">
                        <img src="public\images\png-clipart-pet-collar-cat-collar-dog-collar.png" alt="collar" class="collar">
                        <h4 class="description">Collar para perro vegano</h4>
                        <h4 class="price">$3000</h4>
                    </div>
                </div>
                <div class="total-container">
                    <div class="bill">
                        <h4 class="subtotal">Subtotal:</h4>
                        <h4 class="envio">Envio:</h4>
                        <input type="text" placeholder="Ingrese codigo promocional...">
                    </div>
                    <h4 class="total">Total:</h4>
                    <h4 class="total-price">$3000</h4>
                    <button type="submit" class="ov-btn-grow-spin"> Continuar Compra</button>
                </div>
            </div>
        </div>
        
    </main>
    <footer>
        
    </footer>
</body>

</html>