<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetalleProducto</title>


<!--           Tipografia             -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">


    <!--              Pagina de iconos                   -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />


    <!--       Hoja de estilos propias             -->
    <meta name="theme-color" content="#fafafa">
    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/productDetail-styles.css">
</head>

<body>
    <header>
        <section class="navigation">
            <div class="navigation-search">
                <div class="logo">
                    <img src="./images/Logo +cotas.png" alt="logo" width="120">
                </div>
                <div class="search">
                    <div class="search-control">
                        <img src="./images/search.svg" alt="search icon" width="30">
                        <input
                                id="txtSearch"
                                name="txtSearch"
                                placeholder="Buscar..."
                                type="text"
                        />
                    </div>
                </div>
                <div class="navigation-icons">
                    <div class="shopping-cart">
                        <img src="./images/shopping_cart.svg" alt="cart" width="40">
                    </div>
                    <div>
                        <img src="./images/favorite.svg" alt="cart" width="40">
                    </div>
                    <div>
                        <img src="./images/person.svg" alt="cart" width="40">
                    </div>
                </div>
            </div>
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-list-item">INICIO</li>
                    <li class="navbar-list-item">PRODUCTOS</li>
                    <li class="navbar-list-item">NOSOTROS</li>
                    <li class="navbar-list-item">PROMOS</li>
                    <li class="navbar-list-item">CONTACTO</li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <h3>Inicio > Productos > Camperas impermiables</h3>
        <div class="container-product">
            <div class="foto-principal-producto">
                <img src="/images/D_NQ_NP_734790-MLA46543863235_062021-O.png" alt="producto">
            </div>
        </div>
    </main>
</body>

</html>