
@font-face {
font-family: 'sugarSnow';
src: url(./fonts/sugar-snow-webfont.woff2);
}

* {
margin: 0;
box-sizing: border-box;
}

html{
font-family: 'Rubik', sans-serif;
}

main {
display: flex;
align-items: center;
}

.navbar-list-item{
font-family: 'sugarSnow';
}

.green-container{
width: 90%;
background-color: var(--verde);
display: flex;
flex-direction:column;
border-radius: 15px;
margin: 10px;

}
.white-container{
width: 90%;
background-color: white;
display: flex;
flex-direction:column;
justify-content: space-between;
margin: 15px;
border-radius: 15px;
padding: 20px;
}

.products{
display: flex;
flex-direction:row;
margin: 10px 0;
border-bottom: 2px solid var(--naranja);

}

.total-description{
width: 90%;
margin-left: 10px;

}

.detail{
display: flex;
justify-content: space-between;
margin-top: 30px;
}

.detail img{
margin: 10px;
}

.price{
margin: 0 30px;
}

.shipping-label{
margin: 10px;
margin-left: 0px;
}

.bill{

margin-top:10px;
width:90%;
}

.bill input{
display: flex;
margin: 10px 20px;
background-color: #cccccc;
padding: 3px;
border: 1px;
width: 90%;
font-size: 10px;
font-family: 'Rubik', sans-serif;
}

.buttonpay{
background-color: var(--naranja);
position: relative;
color: white;
width: 70%;
border: 1px;
padding: 5px;
border-radius: 4px;
margin-left: 30px;
margin-top: 50px;
font-family: 'Rubik', sans-serif;
}

.titulo{
color: white;
margin: 40px;
max-height: 5px;
font-size: 1.5em;
font-family: 'sugarSnow';
}

.collar{
max-width: 80px;
}

p{
color: var(--gris);
font-family: 'Rubik', sans-serif;
}

.total-pricing{
display: flex;
flex-direction:row;
margin-bottom: 10px;
border-top: 2px solid black;
}


.subtotal-label{
max-width: 20px;
}

footer {

background-color: var(--naranja);
padding: 20px 0;
}

.footer-container {
width: 90%;
margin: 0 auto;
text-align: center;
}

.images-container {
display: flex;
justify-content: center;
}

.images-container>img {
margin-right: 20px;
width: 50px;
height: 50px;
}

footer p {
font-size: 14px;
color: #3F51B5;
margin: 0;
}
