* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
}

.green-container{
    background-color: var(--verde);
    display: flex;
    flex-direction:column;
    border-radius: 15px;
    margin: 100px;

}
.white-container{
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 20px 200px;
    border-radius: 15px;
}

.products{
    display: flex;
    flex-direction:row;
    margin-top: 40px;

}

.total-container{
    border-top: 2px solid var(--naranja);
    
}

.detail{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.detail img{
    margin: 10px;
}

.price{
    margin: 0 30px;
}

.total-container{
    width: 70%;
    margin: 0 50px;

}

.envio{
    margin: 10px;
}

.bill{
    border-bottom: 2px solid black;
}

.bill input{
    margin: 10px 0;
}

.buttonpay{
    background-color: var(--naranja);
}

.titulo{
    color: white;
    margin: 30px;
}