<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
    <!-- HEADER DINAMICO -->

    <body class="contact-body">
        <%-include('partials/header') %>

        <body>
            <h1>Bienvenido a +COTAS Pet Shop Sustentable </h1>
            
            <p>En +COTAS Pet Shop Sustentable , nos enorgullece ser una pet shop especializada en productos sustentables para perros y gatos. Nuestra misión es brindar a los amantes de los animales una opción consciente y respetuosa con el medio ambiente para el cuidado de sus queridas mascotas.</p>
            
            <p>Creemos en la importancia de crear un mundo más sostenible para todos, incluyendo a nuestras queridas mascotas. Por eso, nos esforzamos por ofrecer una amplia gama de productos que sean tanto ecológicos como de alta calidad. Desde alimentos orgánicos y juguetes reciclados hasta camas hechas de materiales sostenibles, cada artículo que encontrarás en nuestra tienda ha sido cuidadosamente seleccionado para minimizar nuestro impacto en el medio ambiente sin comprometer el bienestar de tu mascota.</p>
            
            <p>Además de nuestra preocupación por la sostenibilidad, nos comprometemos a brindar un excelente servicio al cliente. Nuestro equipo está formado por amantes de los animales que están dispuestos a ayudarte y asesorarte en todo lo relacionado con el cuidado y el bienestar de tu mascota. Ya sea que necesites recomendaciones de productos, consejos de entrenamiento o simplemente quieras compartir historias sobre tus adorables compañeros, estamos aquí para escucharte.</p>
            
            <p>Agradecemos tu visita a nuestra tienda en línea y esperamos que encuentres exactamente lo que necesitas para consentir a tu peludo amigo de manera responsable y sostenible. ¡Gracias por ser parte de nuestra comunidad!</p>
            
            <h2>+COTAS Pet Shop Sustentable  - Donde el amor por los animales y la sostenibilidad se encuentran.</h2>
            
            
            <div class="tarjeta" onmouseover="rotarTarjeta(this)">
                <div class="contenido">
                  <p>Breve Descripcion</p>
                </div>
              </div>
        
        
        </body>

        
            <%-include('partials/footer') %>
    </body>
<script>function rotarTarjeta(elemento) {
    elemento.classList.toggle("hover");
  }</script>
    </html>