<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Tu Carrito - Mascotas PetShop Sustentable</title>

<!-- Fuente -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">


<!--Pagina de iconos -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

<!--Hoja de estilos propias -->
<link rel="stylesheet" href="/css/variables.css">
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/cart-media-queries.css">

</head>

<body>
<header>
<section class="header-container">
    <div class="top-header-container">
        <div class="burger-container">

                <nav id="navbar" class="navigation" role="navigation">
                    <input id="toggle1" type="checkbox" />
                    <label class="hamburger1" for="toggle1">
                    <div class="top"></div>
                    <div class="meat"></div>
                    <div class="bottom"></div>
                    </label>
                
                    <!-- parte que se despliega al click -->
                    <nav class="menu1"> 
                    <a class="link1" href="/">Inicio</a>
                    <a class="link1" href="">Productos</a>
                    <a class="link1" href="">Nosotros</a>
                    <a class="link1" href="">Promos</a>
                    <a class="link1" href="">Contacto</a>
                    </nav>
                </nav>
                
        </div>

        <div class="logo-container">

            <div class="logo">
                <img src="./images/Logo +cotas.png" alt="logo" width="200px">
            </div>

        </div>

        <div class="navigation-icons-container">
            <button><i class="fa fa-shopping-cart"></i></button>
            <button><i class="fa fa-heart"></i></button>
            <button><i class="fa fa-user"></i></button>
        </div>

    </div>

    <div class="search-bar-container">
        <div class="search-bar">
            <button><i class="fas fa-search"></i></button>
            <input type="text" placeholder="Buscar...">
        </div>
    </div>

    
    <div class="navbar-container">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-list-item">INICIO</li>
                <li class="navbar-list-item">PRODUCTOS</li>
                <li class="navbar-list-item">NOSOTROS</li>
                <li class="navbar-list-item">PROMOS</li>
                <li class="navbar-list-item">CONTACTO</li>
            </ul>
        </nav>
    </div>

</section>

</header>

<main>

    <section class="green-container">
        <h2 class="titulo">Tu carrito de compras</h2>

        <div class="white-container">
            <div class="products">

                <div class="detail">
                    <img src="./images/collar.jpg" alt="collar" class="producto" width="100">
                    <p class="description">Collar para perro</p>

                    <div class="price-container">
                        <p class="price">$3000</p>
                        <div class="counter">
                            <span class="down" onClick='decreaseCount(event, this)'>-</span>
                            <input type="text" value="1">
                            <span class="up" onClick='increaseCount(event, this)'>+</span>
                        </div>
                    </div>

                </div>
                <a href="" class="delete-tag">Eliminar producto</a>
            </div>

            <div class="white-container-bottom">
                <div class="total-description">
                    <div class="bill">

                        <div class="bill-row">
                            <p class="subtotal-label">Subtotal:</p>
                            <p class="pricing-label">$1500</p>
                        </div>

                        <div class="bill-row">
                            <p class="shipping-label">envio:</p>
                            <p class="pricing-label">$1500</p>
                        </div>
                        <input type="text" placeholder="Ingrese codigo promocional...">
                    </div>

                    <div class="bill-row-bottom">                
                        <p class="total-label">Total:</p>
                        <p class="total-price">$3000</p>
                    </div>
                    
                </div>
                <button type="submit" class="buttonpay"> Continuar Compra</button>
            </div>
        </div>


    </section>
    
</main>

<footer>

    <section class="footer-container">
        <div class="icon-footer-container">
            <a><i class="fa fa-envelope"></i></a>
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-square-facebook"></i></a>
        </div>

        <div class="logo-footer-container">
            <img src="./images/logo-white.png" alt="logo" width="100">
        </div>

        <div class="copyright">
            <p>Copyright © 2023 Mascotas PetShop Sustentable</p>
        </div>

    </section>

</footer>
</body>

</html>