<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
    <!-- HEADER DINAMICO -->

    <body class="contact-body">
        <%-include('partials/header') %>
    <div class="contact-container">
         <div class="contact-titulo">
            <h1>Contactanos</h1>
         </div>
              <div>
                <% if (locals.errors) { %>
                  <ul>
                    <% for (let i =0; i<errors.length; i++) { %>
                    <li><%= errors[i].msg%></li> 
                    <% } %>
                  </ul>
                  <% } %>
              </div>
            <form class="create-form" action="/processContactForm" method="POST" enctype="multipart/form-data">

                <label class="form-label" for="name">Nombre:</label>
                <input class="contact-name" type="text" id="name" name="name" required>
              
                <label class="form-label" for="email">Email:</label>
                <input class="contact-email" type="email" id="email" name="email" required>
              
                <label class="form-label" for="message">Mensaje:</label>
                <textarea class="form-textcontact" id="message" name="message" required></textarea>
              
                <button class="form-button" type="submit">Enviar</button>

            </form>
    </div>        
            <%-include('partials/footer') %>
    </body>

    </html>