<!-- HEAD DINAMICO -->
<%-include('partials/head') %>

  <body>

    <!-- HEADER DINAMICO -->
    <%-include('partials/header') %>

      <section class="green-container">
        <h2 class="titulo">Agregar Producto</h2>
        <div class="white-container">
          <form action="/products" method="POST" enctype="multipart/form-data">
            <div>
              <div class="form-div">
                <label for="name" class="form-label">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="Ej: Collar de cascabel" class="form-input">
              </div>
              <div class="form-div">
                <label for="price" class="form-label">Precio del producto:</label>
                <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
              </div>
              <div class="form-div">
                <label for="material" class="form-label">Material:</label>
                <input type="text" id="material" name="discount" placeholder="Ej: algodón" class="form-input">
              </div>
              <div class="form-div">
                <label for="size" class="form-label">Tamaño:</label>
                <input type="text" id="size" name="size" placeholder="Ej: M" class="form-input">
              </div>

              <div class="centered-row">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                  <option value="">Elegí</option>
                  <option value="cat">Gato</option>
                  <option value="dog">Perro</option>
                </select>
              </div>
              <div class="centered-row">
                <label for="image" class="img-label">Imagen:</label>
                <input type="file" id="image" name="image" class="img-input">
              </div>
              <div class="centered-row">
                <button type="submit" class="save save-button">Guardar producto</button>
                <button type="reset" class="clear">Borrar todo</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      
<!--       <script>
        // Obtener los campos relacionados con cada categoría
        var campos_comida = document.querySelector('.comida_campos');
        var campos_juguete = document.querySelector('.juguete_campos');
        var campos_accesorio = document.querySelector('.accesorio_campos');
        var campos_salud = document.querySelector('.salud_campos');
        var campos_higiene = document.querySelector('.higiene_campos');


        // Escuchar el evento de cambio de opción en el campo "Categoría"
        document.getElementById('categoria').addEventListener('change', function () {
          // Ocultar todos los campos
          campos_comida.style.display = 'none';
          campos_juguete.style.display = 'none';
          campos_accesorio.style.display = 'none';
          campos_salud.style.display = 'none';
          campos_higiene.style.display = 'none';

          // Mostrar los campos correspondientes a la opción seleccionada
          if (this.value === 'salud') {
            campos_salud.style.display = 'block';
          } else if (this.value === 'higiene') {
            campos_higiene.style.display = 'block';
          } else if (this.value === 'comida') {
            campos_comida.style.display = 'block';
          } else if (this.value === 'juguetes') {
            campos_juguete.style.display = 'block';
          } else if (this.value === 'accesorios') {
            campos_accesorio.style.display = 'block';
          }
        });
      </script> -->

      <%-include('partials/footer') %>

  </body>

  </html>