<!-- <!DOCTYPE html> //esto ya esta en el head dinamico, se puede borrar
<html lang="en"> -->


<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
  <!-- HEADER DINAMICO -->

  <body>
    <%-include('partials/header') %>


      <div class="secciones">
        <div class="section-selector">
          <img src="./images/perros.png" alt="perros" width="400">
          <a href="" class="link">PERROS</a>
        </div>
        <div class="section-selector">
          <img src="./images/gatos.png" alt="gatos" width="400" class="">
          <a href="" class="link">GATOS</a>
        </div>
      </div>
      <div class="line"></div>

      <!-- <div id="myCarousel">
    <div class="slides-container">
      <div class="slide">
        <img src="./images/products/collar.png" alt="item 1">
        <p class="description">Description 1</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/products/bandana.png" alt="item 2">
        <p class="description">Description 2</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/products/collar2.png" alt="item 3">
        <p class="description">Description 3</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/products/capa.png" alt="item 4">
        <p class="description">Description 4</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="slide">
        <img src="./images/products/collar3.png" alt="item 5">
        <p class="description">Description 5</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
    </div>
    <button class="ant-btn">Anterior</button>
    <button class="sig-btn">Siguiente</button>
  </div> -->
  <div class="carousel-container">
    <button class="carousel-btns" id="prevBtn">Anterior</button>
    <div class="carousel">
          <div class="slide">
            <img src="./images/products/collar3.png" alt="producto 1">
            <h3>Collar material reciclable para gatos</h3>
          </div>
          <div class="slide">
            <img src="./images/products/pretal2.jpg" alt="producto 2">
            <h3>Correa de paseo para perros</h3>
          </div>
          <div class="slide">
            <img src="./images/products/bandana.png" alt="producto 3">
            <h3>Corbatin para mascotas</h3>
          </div>
          <div class="slide">
            <img src="./images/products/correa1.jpg" alt="producto 4">
            <h3> Correa para pasear ajustable</h3>
          </div>
          <div class="slide">
            <img src="./images/products/morral2.jpg" alt="producto 5">
            <h3> Mochila para perros</h3>
          </div>
        </div>
        <button class="carousel-btns" id="nextBtn">Siguiente</button>

        <h1 class="destacados"> Productos destacados</h1>
      </div>

      <script>
        const carousel = document.querySelector('.carousel');
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        let currentIndex = 0;
        let autoScrollInterval;
        
        function startAutoScroll() {
          autoScrollInterval = setInterval(() => {
            if (currentIndex < 4) {
              currentIndex++;
              carousel.style.transform = `translateX(-${currentIndex * 20}%)`;
            } else {
              currentIndex = 0;
              carousel.style.transform = `translateX(0)`;
            }
          }, 2000);
        }
        
        function stopAutoScroll() {
          clearInterval(autoScrollInterval);
        }
        
        prevBtn.addEventListener('click', () => {
        console.log("clickeando boton");
          if (currentIndex > 0) {
            currentIndex--;
            carousel.style.transform = `translateX(-${currentIndex * 20}%)`;
          }
        });
        
        nextBtn.addEventListener('click', () => {
          console.log("clickeando boton 2");
          if (currentIndex < 4) {
            currentIndex++;
            carousel.style.transform = `translateX(-${currentIndex * 20}%)`;
          }
        });
        </script>
  </body>
  <%-include('partials/footer') %>

    </html>