<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
<!-- HEADER DINAMICO -->

<body>
        <%-include('partials/header') %>

    <main>

        <main class="container">
            <section class="container-form">
                <div class="form-card">
                    <h2 class="form-card-title">Mi Cuenta</h2>

                    <div class="form-card-container">
                        <form class="inicio-secion-form">
                            <div class="form-control">

                                <h4 for="titulo-mail">Dirección de correo electronico</h4>
                                <input type="email" name="va-mail" id="mail" required>
                            </div>
                            <br>
                            <div class="form-control">
                                <h4 for="titulo-contraseña">Contraseña</h4>
                                <input type="password" name="contraseña" id="contraseña" required>
                            </div>

                            <div>
                                <h5 class="contraseña"><a href="olvidaste-contraseña"> ¿Olvidaste tu contraseña? </a>
                                </h5>
                            </div>
                            <br>

                            <div class="ingresar">
                                <button class="ingresar">
                                    Acceder
                                </button>
                            </div>

                            <br>
                            <div class="recordar-mi"><input class="checkbox" type="checkbox">
                                <h5 class="recordar-cuenta"> Recordar mi cuenta</h5>
                            </div>
                            <br>


                            <hr>
                            <br>


                            <div class="logos-juntos">
                                <div class="logo">
                                    <a href="logo-gmail"><img src="/images/gmail-icon.png"
                                            alt="logo-gmail"></a>
                                    <label class="ingreso-mail" for="ingreso-gmail"> &nbsp; Continuar con Gmail</label>
                                </div>

                                <div class="logo">
                                    <a href="logo-face"><img src="/images/facebook-icon.png" alt="logo-face"></a>
                                    <label class="ingreso-face" for="ingreso-face"> &nbsp; Continuar con
                                        Facebook</label>
                                </div>
                            </div>

                            <br>

                            <div>
                                <h5><a href="olvidaste-contraseña"> ¿No tenes cuenta? Registrate aquí! </a></h5>
                            </div>
                            <br>
        </main>
        <br>
        <br>

        <%-include('partials/footer') %>


</body>

</html>