
<%-include('partials/head') %>
<body>
    <%-include('partials/header') %>
<div class="products-wrapper">
    <div class="title-div">
        <h2 class="products-title">Nuestro catálogo de productos</h2>
    </div>

</div>

<%-include('partials/footer') %>
</body>

</html>