<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
<!-- HEADER DINAMICO -->

<body>
    <%-include('partials/header') %>
        <br>
        <h1> Hola, user! </h1>
        <br>
    
        <div class="profile">
            <div class="profile-picture">
                <img src="https://wonder-day.com/wp-content/uploads/2022/03/wonder-day-avatar-memes-cats-35.jpg" width="100" alt="Profile Picture">
            </div>
            <div class="profile-details">
                <h2 class="profile-name">KitKat Johnson</h2>
                <p class="profile-bio">Gata de pelo largo domestica </p>
            <div class="profile-contact">
                <p><strong>Email:</strong> KitKat.johnson@gmail.com</p>
                <p><strong>Phone:</strong> (123) 456-7890</p>
            </div>
        </div>
      </div>
   
<%-include('partials/footer') %>
</body>

</html>

