@media (min-width: 768px){

    /* HEADER */

    .header-container{
        padding: 0;
    }

    .top-header-container{
        justify-content: space-between;
        margin: 10px;
        flex-direction: row;
    }

    .search-bar-container{
        width: 40%;
    }

    .navbar{
        display: flex;
    }

    .burger-container{
    display: none;
    }

    .navigation-icons-container{
        display: flex;
        justify-content: center;
    }

    /* BODY */

    .white-container{
        flex-direction: row;
    }

    .products {
        border-bottom: 0px;
        border-right: 2px solid var(--naranja);
        width: 50%;
    }

    .white-container-bottom{
        width: 50%;
    }

    .buttonpay{
        width: 50%;
    }

    /* /PRODUCTS */

    .products-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .product-container {
        width: 80%;
        margin: 20px;
        height: 250px;
        position: relative;
        }
}

@media (min-width: 1024px){
    .products-wrapper{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (min-width: 1200px){
    .products-wrapper{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .product-container {
        width: 70%;
        margin: 20px;
        height: 250px;
        position: relative;
        }
}