
@font-face {
font-family: 'sugarSnow';
src: url(./fonts/sugar-snow-webfont.woff2);
}

* {
margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
}

.header-container{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.top-header-container{
    display: flex;
    flex-direction: column;
    width: auto;
}

.both-container{
    display: flex;
    flex-direction: row;
}


.logo-container{
    /* border: 3px solid brown; */
    display: flex;
    align-items: space-between;
    width: auto;
}

.logo img{
    width: 100%;
}

/* hamburger menu */

/* Hamburger */
.hamburger1 {
background-color: var(--naranja);
max-width: 60px;
margin: 10px;
display: -ms-grid;
display: grid;
padding: 10px 8px; /*tamaño de burger button*/
grid-template-rows: repeat(3, 1fr);
justify-items: center;
z-index: 120;
border-radius: 8px;
}

/*hamburger lines*/

.hamburger1 div {
background-color: #fff;
position: relative;
width: 20px;
height: 4px;
margin: 2px;
    border-radius: 2px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#toggle1 {
display: none;
}

#toggle1:checked + .hamburger1 .top {
-webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
margin-top: -6px;
}

#toggle1:checked + .hamburger1 .bottom {
-webkit-transform: scale(0);
        transform: scale(0);
}

#toggle1:checked ~ .menu1 {
height: 340px;
}


/* Menu */
.menu1 {
width: 100%;
background-color: var(--naranja);
position: absolute;
border-radius: 8px;
display: -ms-grid;
display: grid;
grid-template-rows: 1fr repeat(4, 0.5fr);
grid-row-gap: 25px;
list-style: none;
clear: both;
width: auto;
text-align: center;
height: 0px;
overflow: hidden;
transition: height 0.4s ease;
z-index: 120;
transition: all 0.3s ease;
}

.menu1 a:first-child {
margin-top: 40px;
}

.menu1 a:last-child {
margin-bottom: 20px;
}

.link1 {
color: #fff;
text-decoration: none;
width: 100%;
margin: auto;
padding: 10px;
}

/* ------------------------ */


/* hamburger menu end */


.search-bar-container{
    /* border: 3px solid brown; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar{
    padding:10px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input{
    border: none;
    width: 100%;
    height: 40px;
    background-color: var(--grisClaro);
    border-radius: 20px;
    padding-left: 40px;
}

.search-bar button{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    position:absolute;
    width: 30px;
    margin-top: 8px;
}

.navigation-icons-container{
    /* border: 3px solid brown; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navigation-icons-container button{
    font-size: 30px;
    margin: 0 5px;
    background-color: transparent;
    border: transparent;
}

.logo{
    max-width: 200px;
}

.navbar {
    width: 100%;
    background-color: var(--naranja);
    display: none;
}

.navbar-list {
    padding: 20px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}


.navbar-list-item{
font-family: 'sugarSnow';
}

.navbar-list-item a:link, .navbar-list-item a:visited{
    text-decoration: none;
    color: white;
    font-family: 'sugarSnow';
}

/* ====================MAIN========================= */
main{
        padding: 15px;
}

.green-container{
    width: 90%;
    background-color: var(--verde);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
}

.titulo{
    color: white;
    font-size: 1em;
    font-family: 'sugarSnow';
    text-align: center;
    }    

.white-container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
    overflow:hidden ;
}

.products{
    width: 100%;
    display: flex;
    flex-direction:column;
    padding: 10px;
    border-bottom: 2px solid var(--naranja);
}

.bill-row{
    max-height: 25px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.delete-tag{
    position:relative;
    width: 100%;
    margin: 10px;
    font-size: 15px;
    color: var(--naranja);
}

.white-container-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.bill-row-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid black;
    margin: 10px 0;
}


.total-description{
    width: 90%;
}

.price-container{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.producto{
    width: 30%;
}

.counter{
    display: flex;
    flex-direction: row;
}

.detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.price{
    margin: 0 30px;
}

.bill input{
    display: flex;
    margin: auto;
    background-color: #cccccc;
    padding: 3px;
    border: 1px;
    width: 90%;
    font-size: 10px;
}

.buttonpay{
    background-color: var(--naranja);
    position: relative;
    color: white;
    width: 70%;
    border: 1px;
    padding: 5px;
    border-radius: 4px;
}


.counter input{
    max-width: 50px;
    text-align: center;
}

.collar{
    max-width: 80px;
}

p{
    color: var(--gris);
    font-family: 'Rubik', sans-serif;
}

.subtotal-label{
    max-width: 20px;
}

/* =====================FOOTER========================= */

footer {
    background-color: var(--naranja);
    padding: 20px 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: auto;
}

.icon-footer-container i{
    font-size: 25px;
    margin: 5px 10px;
}

.logo-footer-container{
    margin: 10px;
}

.copyright{
    /* border: 3px solid brown; */
    margin-top: 10px;
}

.copyright p{
    font-size: 12px;
}

/* ======================= /PRODUCTS =========================== */

.products-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
width: 60%;
margin: 20px;
height: 250px;
position: relative;
}

.prod-img{
    height: 100px;
    width: 100px;
}

.box {
width: 100%;
height: 100%;
padding: 5px;
position: absolute;
top: 0;
left: 0;
text-align: center;
border-radius: 10px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }

.card{
padding-top:20px;
width: 100%;
height:95%;
position: absolute;
clip-path: circle(8% at 85% 10%);
transition: all ease-in-out .3s;
background-color:var(--naranja);
color:white;
}

.card:hover{
    clip-path: circle(100%);
    border-radius:15px;
    background:black;
    opacity: 90%;
}

.pet-type{
    padding: 10px;
    display:inline-block;
}

.add{
background-color: initial;
background-image: linear-gradient(-180deg, var(--verde), green);
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
height: 40px;
line-height: 40px;
outline: 0;
pointer-events: auto;
text-align: center;
user-select: none;
user-select: none;
vertical-align: top;
white-space: nowrap;
width: 80%;
z-index: 9;
border: 0;
transition: box-shadow .2s;
}

.add:hover {
box-shadow: var(--verde) 0 3px 8px;
}

.fa-info{
position:absolute;
font-size: 1.5em;
left: 83%;
top: 5%;
transition: opacity .2s;
}

.card:hover .fa-info {
    opacity: 0%;
}

.info-container{
padding:20px; 
}

.info-container > * {
    margin: 20px;
    font-weight: bold;
}

.link-prod:link, .link-prod:visited{
color:var(--verde);
}

.link-prod:hover{
color:var(--naranja);
}