/* //Comida</option>
<option value="juguetes">Juguetes</option>
<option value="accesorios">Accesorios</option>
<option value="salud">Salud</option>
<option value="higiene">Higiene
 */
.comida_campos {
    display: none;
}

.juguete_campos {
    display: none;
}

.accesorio_campos {
    display: none;
}

.salud_campos {
    display: none;
}

.higiene_campos {
    display: none;
}

.form-input2{
    height: 70px;
    size: 25%;
}
/* form {
    color: gray;
    margin: 15px;
} */

form>input,
select {
    border-radius: 5px;
    border: 1px gray solid
}

form>.otros>input {
    border-radius: 5px;
}

form>.otros>#precio {
    border-radius: 5px;

    border: 1px gray solid
}
/* .save,.clear {
    background-color: #1259c3;
    border: none;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    height: 35px;
} */
/* CSS PARA VALIDACION DE FORMULARIO */
@keyframes shake {
    0% {transform: translateX(0);}

    20% {transform: translateX(-5px);}

    40% {transform: translateX(5px);}

    60% {transform: translateX(-5px);}

    80% {transform: translateX(5px);}

    100% {transform: translateX(0);}
}

.is-valid {
    color: #198754;
}

.is-invalid {
    color: red;
    border: 1px red solid;
    animation: shake 0.5s;
    animation-duration: 0.5s;
    border-radius: 2px;
}

.error-message{
    font-size: 12px;
    color: red;
    font-weight: bold;
}