<footer>

    <section class="footer-container">
        <div class="icon-footer-container">
            <a><i class="fa fa-envelope"></i></a>
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-square-facebook"></i></a>
        </div>

        <div class="logo-footer-container">
            <img src="./images/logo-white.png" alt="logo" width="100">
        </div>

        <div class="copyright">
            <p>Copyright © 2023 Mascotas PetShop Sustentable</p>
        </div>

    </section>

</footer>