<header>
    <section class="header-container">
        <div class="top-header-container">
            <div class="burger-container">
    
                    <nav id="navbar" class="navigation" role="navigation">
                        <input id="toggle1" type="checkbox" />
                        <label class="hamburger1" for="toggle1">
                        <div class="top"></div>
                        <div class="meat"></div>
                        <div class="bottom"></div>
                        </label>
                    
                        <!-- parte que se despliega al click -->
                        <nav class="menu1"> 
                        <a class="link1" href="/">Inicio</a>
                        <a class="link1" href="">Productos</a>
                        <a class="link1" href="">Nosotros</a>
                        <a class="link1" href="">Promos</a>
                        <a class="link1" href="">Contacto</a>
                        <a class="link1" href="">Agregar Producto</a>
                        </nav>
                    </nav>
                    
            </div>
    
            <div class="logo-container">
    
                <div class="logo">
                    <img src="./images/Logo +cotas.png" alt="logo" width="200px">
                </div>
    
            </div>

            <div class="search-bar-container">
                <div class="search-bar">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Buscar...">
                </div>
            </div>
    
            <div class="navigation-icons-container">
                <button><i class="fa fa-shopping-cart"></i></button>
                <button><i class="fa fa-heart"></i></button>
                <button><i class="fa fa-user"></i></button>
            </div>
    
        </div>
    
    
        
        <div class="navbar-container">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-list-item">INICIO</li>
                    <li class="navbar-list-item">PRODUCTOS</li>
                    <li class="navbar-list-item">NOSOTROS</li>
                    <li class="navbar-list-item">PROMOS</li>
                    <li class="navbar-list-item">CONTACTO</li>
                </ul>
            </nav>
        </div>
    
    </section>
    
    </header>