<section class="tags-section">
    <div class="tags-div">
        <i class="fa-solid fa-leaf"></i>
        <h3>Plant-based</h3>
    </div>
    <div class="tags-div">
        <i class="fa-solid fa-earth-americas"></i>
        <h3>Sustentable</h3>
    </div>
    <div class="tags-div">
        <i class="fa-solid fa-dog"></i>
        <h3>Cruelty-free</h3>
    </div>
    <div class="tags-div">
        <i class="fa-solid fa-recycle"></i>
        <h3>Reciclable</h3>
    </div>
    <div class="tags-div">
        <i class="fa-solid fa-paw"></i>
        <h3>Hecho para ellos</h3>
    </div>
</section>